GOOGLE_PLACES_API_KEY=
OPENAI_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
NGROK_URL=
FLASK_PORT=8000
VITE_API_BASE_URL=http://localhost:8000
